.stars > .star{
    display: inline-block;
}

.star {
    color: #bbb;
    font-size: 1.5rem;
    cursor: pointer;
}

.stars > .active::before,
.stars:hover > .star::before{
    color: rgb(255, 72, 0);
    content : '★';
    position: absolute;
}

.stars > .star:hover ~ .star::before{
    content: '';
}